certifi==2017.7.27.1
chardet==3.0.4
codecov==2.0.9
colorama==0.3.9
coverage==4.4.1
Django==1.11.4
django-extensions==1.8.1
djangorestframework==3.6.3
doctest2==0.1
idna==2.5
jsonfield==2.0.2
my-civicu-app==0.0.post0.dev13+ncea73cc.dirty
numpy==1.13.1
py==1.4.34
pytest==3.2.1
pytest-cov==2.5.1
pytz==2017.2
requests==2.18.3
six==1.10.0
urllib3==1.22
